{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="{% static "css/style_details.css" %}">
</head>

    <div class="data">
<h3>Szczegóły kierowcy:</h3>
{{ today }}<br>
Imię:&nbsp;{{ driver.firstname }} &nbsp; Nazwisko: {{ driver.lastname }}
        <br>&nbsp;PESEL:{{ driver.PESEL}},&nbsp;ID w bazie danych: {{ driver.id }}<br>
<br><a href="/editdriver/{{ driver.pk }}">AKTUALIZUJ </a>

<hr size="1">
<form action="" method="post">
        {% csrf_token %}
          
<h3>Prawo jazdy</h3>
Posiadane kategorie prawa jazdy:<br><b>
B &nbsp;{{form.B}} &nbsp;
CE &nbsp;{{form.CE}} &nbsp;
C &nbsp;{{form.C}} &nbsp;
BE &nbsp;{{form.BE}} &nbsp;
C1 &nbsp;{{form.C1}} &nbsp;
       <br></b>
Data ważności uprawnień:&nbsp;{{ form.driver_licence_enddate }}<br>
Do końca pozostało:&nbsp; {{ driver.certyficate.driver_licence_enddate|timeuntil:today }}<br>
<br><input type="submit" value="Aktualizuj">



<hr size="1">
<h3> Świadectwo kwalifikacji:</h3>
Data ważności dokumentu: {{ form.kwalifikacja_data_konc }}<br>
Do końca pozostało:&nbsp; {{ driver.certyficate.kwalifikacja_data_konc|timeuntil:today }}<br>
<br><input type="submit" value="Aktualizuj">





<hr size="1">
<h3>Pozwolenia ADR</h3>
Data ważności dokumentu: {{ form.ADR_data_konc }}<br>
Do końca pozostało:&nbsp; {{ driver.certyficate.ADR_data_konc |timeuntil:today }}<br>
Klasy ADR: &nbsp<ul>
        <li>Klasa 1 - materiały niebezpieczne &nbsp;{{form.ADR_cat1}}</li><br>
        <li>Klasa 7 - cysterny &nbsp;{{form.ADR_cat7}}&nbsp;<input type="submit" value="Aktualizuj"></li> </ul>

<hr size="1">
    

</form>
</div>
<div class="graphics">
<img src="{% static "img/driverchecklist.png" %}" alt="background">

    </div>
{% endblock %}


