{% extends 'base.html' %}
{% block content %}
    <h4>Aktualizacja polisy komunikacyjnej</h4>
    Pojazd: {{ unit }}<br>
    <form action="" method="post">
    {% csrf_token %}
    Ubezpieczyciel:{{ form.Ubezpieczeniakom_instytucja }} &nbsp;nr polisy: {{ form.Ubezpieczeniakom_nr_polisy }}<br>
    Data zakończenia umowy: {{ form.Ubezpieczeniakom_data_konc }}<br>Zakres:&nbsp;
        OC:{{ form.Ubezpieczeniakom_OC}}&nbsp;AC:{{ form.Ubezpieczeniakom_AC }}&nbsp;NNW:{{ form.Ubezpieczeniakom_NNW }}
        <input type="submit" value="Aktualizuj">
    </form>

{% endblock %}


