{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="{% static "css/style_details.css" %}">

</head>

    <b>
    <div class="data">
        <div class="detail">
<h3>Szczegóły pojazdu</h3>

        {% for i in unit %}
Pojazd {{ i.rodzaj }} marka i model: {{ i.marka }}&nbsp;{{ i.model }}, rok produkcji: {{ i.rok_prod }}<br>
nr rejestracyjny pojazdu: {{ i.nr_rej }},&nbsp;VIN: &nbsp;{{ i.VIN }},&nbsp; indeks w bazie danych: {{ i.pk }}<br>
        </div>



        <hr size="1"><div class="detail">
<h4>Przegląd techniczny</h4>

{{ i.details.badanietechniczne_nazwa }} &nbsp; Wydany przez: {{ i.details.badanietechniczne_instytucja }}<br>
Wymagany: {% if i.details.badanietechniczne_wymagane %}Tak
          {% else %} Nie
          {% endif %}
       <br> Data ważności przeglądu:<b><font color="red">
            {% if i.details.badanietechniczne_data_konc %}{{ i.details.badanietechniczne_data_konc.isoformat}}
            {% else %}Brak w systemie
            {% endif %}</b> </font>       <br>
        Czas do końca: {{i.details.badanietechniczne_data_konc|timeuntil:today }}
        <a href="/addbt/{{ i.pk }}">AKTUALIZUJ </a>
        </div>



        <hr size="1"><div class="detail">
    <h4>Przegląd tachografu</h4>
{{ i.details.tachograf_nazwa }} &nbsp; Wydany przez:{{ i.details.tachograf_instytucja }}<br>
Wymagany: {% if i.details.tachograf_wymagane %}Tak
          {% else %} Nie
          {% endif %}
       <br> Data ważności przeglądu:<b><font color="red">
            {% if i.details.tachograf_data_konc %}{{ i.details.tachograf_data_konc.isoformat}}
            {% else %}Brak w systemie
            {% endif %}</b></font>            <br>
        Czas do końca: {{i.details.tachograf_data_konc|timeuntil:today }}
        <a href="/addtacho/{{ i.pk }}">AKTUALIZUJ </a>
        </div>
       
       
       
       
        <hr size="1"><div class="detail">
    <h4>Ubezpieczenie komunikacyjne</h4>
Ubezpieczyciel: {{ i.details.Ubezpieczeniakom_instytucja }} nr polisy:{% if i.details.Ubezpieczeniakom_nr_polisy %} {{ i.details.Ubezpieczeniakom_nr_polisy }} {% else  %}BRAK {% endif %}<br>
Pakiet:<font color="red">&nbsp;{%if i.details.Ubezpieczeniakom_OC %} OC &nbsp;{% endif %}
            &nbsp;{%if i.details.Ubezpieczeniakom_AC %} AC{% endif %} &nbsp;
            &nbsp;{%if i.details.Ubezpieczeniakom_NNW %} NNW{% endif %} &nbsp;</font>
            data końca umowy: {{ i.details.Ubezpieczeniakom_data_konc }}<br>
Czas do końca: {{ i.details.Ubezpieczeniakom_data_konc|timeuntil:today }}
<a href="/adduk/{{ i.pk }}">AKTUALIZUJ </a>
</div>



<hr size="1"><div class="detail">
<h4>Dopuszczenie ADR</h4>
{{ i.details.ADR_nazwa }} &nbsp; Wydany przez:{{ i.details.ADR_instytucja }}<br>
Wymagany: {% if i.details.ADR_wymagane %}Tak
          {% else %} Nie
          {% endif %}
       <br> Data ważności przeglądu:<b><font color="red">
            {% if i.details.ADR_data_konc %}{{ i.details.ADR_data_konc.isoformat}}
            {% else %}Brak w systemie
            {% endif %}</b></font>            <br>
        Czas do końca: {{i.details.ADR_data_konc|timeuntil:today }}
        <a href="/addadr/{{ i.pk }}">AKTUALIZUJ </a>

</div>


    


<hr size="1"><div class="detail">
    <h4>Badania UDT</h4>
{{ i.details.UDT_nazwa }} &nbsp; Wydany przez:{{ i.details.UDT_instytucja }}<br>
Wymagany: {% if i.details.UDT_wymagane %}Tak
          {% else %} Nie
          {% endif %}
       <br> Data ważności przeglądu:<b><font color="red">
            {% if i.details.UDT_data_konc %}{{ i.details.UDT_data_konc.isoformat}}
            {% else %}Brak w systemie
            {% endif %}</b></font>            <br>
        Czas do końca: {{i.details.UDT_data_konc|timeuntil:today }}
        <a href="/addudt/{{ i.pk }}">AKTUALIZUJ </a>
        </div>



        <hr size="1"><div class="detail">
    <h4>Certyfikat FRC</h4>
{{ i.przegladfrc.nazwa }} &nbsp; Wydany przez:{{ i.przegladfrc.instytucja }}<br>
Wymagany: {% if i.przegladfrc.wymagane %}Tak
          {% else %} Nie
          {% endif %}
       <br> Data ważności certyfikatu:<b><font color="red">
            {% if i.przegladfrc.data_konc %}{{ i.przegladfrc.data_konc.isoformat}}
            {% else %}Brak w systemie
            {% endif %}</b></font>            <br>
        Czas do końca: {{i.przegladfrc.data_konc|timeuntil:today }}
        <a href="/addfrc/{{ i.pk }}">AKTUALIZUJ </a>
        </div>
       
       
       
        <hr size="1">
        <div class="detail">
  <h4>Badania TDT</h4>
{{ i.przegladtdt.nazwa }} &nbsp; Wydany przez:{{ i.przegladtdt.instytucja }}<br>
Wymagany: {% if i.przegladtdt.wymagane %}Tak
          {% else %} Nie
        {% endif %}
       <br> Data ważności przeglądu:<b><font color="red">
            {% if i.przegladtdt.data_konc %}{{ i.przegladtdt.data_konc.isoformat}}
            {% else %}Brak w systemie
            {% endif %}</b>
            </font>            <br>
        Czas do końca: {{i.przegladtdt.data_konc|timeuntil:today }}
        <a href="/addtdt/{{ i.pk }}">AKTUALIZUJ </a>
</div>




<hr size="1"><div class="detail">
            <h4>Norma czystości spalin {{ i.normaeuro.norma }}</h4>
            {% if i.normaeuro.wymagane %} 
            {% else %}Nie dotyczy
            {% endif %}<br>
            <a href="/addeuro/{{ i.pk }}">AKTUALIZUJ </a><br>
            <font size="4" color="blue"><b>

            </b></font><br>
</div>

{% endfor %}
   </div>
    <div class="graphics">
<img src="{% static "img/trailer.png" %}" alt="background">
    </div>
  </body>

{% endblock %}
